*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

#main{
    background-color: rgba(20, 20, 20, 1);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1a1a1a;
    box-sizing: border-box;
}

header, header > a{
    background-color: #1a1a1a;
}

#logo{
    width: clamp(120px, 20vw, 277px);
    height: auto;
    background-color: #1a1a1a;
}

h1{
    font-family: Arial Black;
    background-color: transparent;
    padding-bottom: 25px;
}

#utilisateur{
    width: 3%;
    height: auto;
    transition: width 0.2s, transform 0.2s;
}

#utilisateur:hover{
    transform: scale(1.10);
}

#insc{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    transition: background-color 0.5s;
    border: none;
    border-radius: 15px;
    color: black;
    font-size: larger;
    padding: 10px 15px;
    margin-left: 10px;
    white-space: nowrap;
}

#deco{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff4d4d;
    transition: background-color 0.5s;
    border: none;
    border-radius: 15px;
    color: black;
    font-size: larger;
    padding: 10px 15px;
    margin-left: 10px;
    white-space: nowrap;
}

#inscco {
    display: flex;
}

#insc:hover{
    background-color: #BC1A4B;
}

#deco:hover{
    background-color: #ff0000;
}

#recherche{
    background-color: whitesmoke;
    color: black;
    padding: 8px 40px 8px 40px;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

#search-wrapper {
    position: relative;
}

#livesearch {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 2px;
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
    transition: background-color 0.5s;
}

#livesearch button{
    display: block;
    padding: 8px 12px;
    width: 100%;        
    text-align: left;   
    cursor: pointer;
}

#livesearch button:hover{
    background-color: whitesmoke;
    color: #1a1a1a;
}

#livesearch button:hover p{
    color: #1a1a1a;
}

#jeux a{
    display: contents;
}

#action, #aventure, #rpg, #fps, #sim, #strat, #sport, #course, #survie, #horreur, #plateforme, #inde, #mmo, #br {
    background-color: #1a1a1a;
    border-radius: 20px;
    margin: 20px;
    margin-top: 30px;
    padding: 20px 30px;
}

#bannièreAction,
#bannièreAventure, 
#bannièreRPG,
#bannièreFPS,
#bannièreSim,
#bannièreStrat,
#bannièreSport,
#bannièreCourse,
#bannièreSurvie,
#bannièreHorreur,
#bannièrePlateforme,
#bannièreInde,
#bannièreMMO,
#bannièreBR
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: transparent;
}

button{
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.imgBannière {
    width: clamp(100px, 12vw, 180px);
    height: auto;
    padding: 0px;
    border-radius: 8px;
    transition: width 0.2s, transform 0.2s;
}

.imgBannière:hover {
    transform: scale(1.10);
}

